.containerForget {

    background: linear-gradient(to right, var(--slider-linear-left), var(--slider-linear-right)); /* Effet degrader de couleur */
    border-radius: 1rem; /* Arrondis la bordure */
    padding: 1rem; /* Met un espace entre la bordure et son contenue */

}


.h2Forget {

    color: var(--title-forgetPassword-color); /* Definis la couleur du texte */
    font-family: var(--title-forgetPassword-police); /* Definis la police du texte */

}


.formConnexionForgot {

    background-color: var(--form-forget-background-color); /* Definis la couleur de background */
	box-shadow: 0 8px 24px  rgba(0, 0, 0, 0.45), /* Ombre autour du form */
		  0 8px 8px rgba(0, 0, 0, 0.45); /* Ombre autour du form */
    border-radius: 1rem; /* Arrondis la bordure */
    padding: 1rem; /* Met un espace entre la bordure et son contenue */
    height: 400px; /* Definis la hauteur de l'element */
    width: 90%; /* Definis la largeur de l'element */
    display: flex; /* Rens l'element flexible */
    flex-direction: column; /* Met en colonne les elements */
    justify-content: center; /* Aligne horizontalement les elements */
    align-items: center; /* Aligne verticalement les elements */
    text-align: center;  /* Aligne horizontalement le texte */
    margin: auto; /* Met un espace autour de l'element */

}


.spanForget {

    margin: 1rem; /* Met une marge autour de l'element */

}


/*! Styles Spécifiques à la version desktop */ 
@media only screen and (min-width: 700px) {  

    .formConnexionForgot {

    width: 50%; /* Definis la largeur de l'element */

    }

}