</main>
<footer class="footerBlock" role="contentinfo">
    <p class="footerParagraphe"> © 2024.</p>
    <a href="/mentionsLegales" class="mentionsLien" title="Voir les mentions légales">Mentions légales</a>
    <a href="/planSite" class="plan" title="Plan du site">Plan du site</a>
    <a href="/contact" class="contact" title="Nous contacter">Contact</a>
  </footer>

  <script src="/js/lettre.js"></script>


</body>

</html>