<header>
    <div class="titreBlock">
    <a href="/" aria-label="Retour a la page accueil">
        <img src="http://www.image-heberg.fr/files/thumbs/1713535221741713865.png" alt="logo du site representant une chaise de cinema, des couveurs et une bande de film " />
    </a>
    <h1><%= titre || 'Prochainement' %></h1>
    </div>
</header> 