
<%- include('partials/header') %>

    <%- include('partials/title') %>

        <%- include('partials/nav') %>


<div class="containerForget" id="forgot-password-container">
    <form action="/forgotPassword" class="formConnexionForgot" method="POST">
        <h2 class="h2Forget">Mot de passe oublié</h2>
        <span class="spanForget">Entrez votre adresse e-mail pour réinitialiser votre mot de passe</span>
        <input type="email" name="email" placeholder="Email" class="inputConnexion" required aria-labelledby="email">
        <button type="submit" class="btn">Envoyer le lien de réinitialisation</button>
    </form>
</div>


<%- include('partials/footer') %>