<%- include ('partials/header') %>


    <%- include ('partials/title') -%>

            <%- include ('partials/nav') %>

                <h2 class="titreMentions">MENTIONS LÉGALES DE CINEDELICE</h2>

                <p class="mentionsParagraphe">Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie
                    numérique, il est précisé aux utilisateurs du site Ciné Délice l'identité des différents
                    intervenants dans le cadre de sa réalisation et de son suivi.</p>

                <h3 class="sousTitreMentions">Edition du site </h3>

                <p class="mentionsParagraphe">Le présent site, accessible à l’URL www.cinedelice.fr (le « Site »), est édité par :
                    L’association Ciné Délice, enregistrée auprès de la préfecture/sous-préfecture de 75 - Préfecture
                    Paris sous le numéro W123456789, ayant son siège situé à 15 Rue du petit écran , 99 999 Holliwood,
                    représentée par Harry Keau dûment habilité(e)
                </p>

                <h3 class="sousTitreMentions">Hébergement</h3>

                <p class="mentionsParagraphe">Le Site est hébergé par la société Autre, situé Vercel Inc. 440 N Barranca Avenue #4133 Covina, CA
                    91723 États-Unis, (contact téléphonique ou email : +12314567891).</p>

                <h3 class="sousTitreMentions">Directeur de publication </h3>

                <p class="mentionsParagraphe">Le Directeur de la publication du Site est Vincent Gramme .</p>

                <h3 class="sousTitreMentions">Nous contacter</h3>

                <p class="mentionsParagraphe">Par téléphone : +33612345678
                    Par email : cinedelice@oclock.school
                    Par courrier : 89 Boulevard du grand écran, 99 999 Hollywood
                </p>

                <h3 class="sousTitreMentions">Données personnelles</h3>

                <p class="mentionsParagraphe">Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie
                    privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément
                    au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>

        <%- include('partials/footer') %>