<%- include ('partials/header') -%>


    <%- include ('partials/title') -%>

        <%- include ('partials/nav') -%>
            <div class="planSiteBox">
                <section class="planSiteLiens">
                    <a href="/" title="Liens vers Accueil">Accueil</a>
                    <a href="/recettes" title="Liens vers Recettes">Recettes</a>
                    <a href="/films" title="Liens vers Films">Films</a>
                    <a href="/login" title="Liens vers Inscription/Connexion">Inscription/Connexion</a>
                    <a href="/profile" title="Liens vers Profil">Profil</a>
                    <a href="/contact" title="Liens vers Contact">Contact</a>
                    <a href="/mentionsLegales" title="Liens vers Mentions légales">Mentions légales</a>
                </section>
            </div>
            <%- include('partials/footer') -%>